# Documentation main folder
doc/doxygen/html

# Common library
lib/common/doc/doxygen/html

# stm32f767zi library
lib/stm32f767zi/doc/doxygen/html
lib/stm32f767zi/obj

# Templates
templates/stm32f767zi/bin
templates/stm32f767zi/obj

