# Main Documentation Directory
doc/doxygen/html

# Common libraries
lib/common/doc/doxygen/html

# stm32f767zi library
lib/stm32f767zi/doc/doxygen/html
lib/stm32f767zi/obj
lib/stm32f767zi/lib/libstm32f767zi.a

# template directory
template/stm32f767zi/bare/bin
template/stm32f767zi/freeRTOS/obj

working/
freeRTOS/
tags
.ycm_extra_conf.py
todo
